body {
    background-color: lightblue;
    font-size: 20px;
}
.header {
    height: 100px;
    display: table-row;
}

.header > div, .header > img {
    display: table-cell;
}

.header > div {
    vertical-align: middle;
}

.header > img {
    height: inherit;
}

.nav {
    float: left;
    background-color: lightgreen;
    width: 25%;
}

.nav > div {
    padding: 5px;
    border: 2px solid darkgreen;
}

.content {
    float: left;
    width: 74%;
}
.items-have-border-line > div:nth-child(3n):after {
    right: 0;

}

.items-have-border-line > div:first-child:before,
.items-have-border-line > div:nth-child(4n):before {
    left: 0;
}

.items-have-border-line > div:nth-child(3n):after,
.items-have-border-line > div:first-child:before,
.items-have-border-line > div:nth-child(4n):before {
    top: 0;
    content: '';
    background: red;
    width: 5px;
    height: 100%;
    position: absolute;
}
.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.container > div{
    padding: 0.5%;
    margin: 1%;
    flex-direction: column;
    display: flex;
    background-color: pink;
    position: relative;
}
.container-1 > div{
    width: 100%;
}

.container-3 > div{
    width: 30%;
    height: 200px;
}
.center-horizontal-content > div{
    text-align: center;
}
.center-vertical-content > div{
    justify-content: center;
}