


.header {
    flex-direction: row;
    display: flex;
    height: 80px;
    justify-content: space-between;
}
.header > div{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.header-img{
    height: inherit;
    width: 100px;
}
@media screen and (max-width: 800px) {
    .page-container{
        flex-wrap: wrap;
    }
}
.page-container{
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
    background-color: inherit;
    display: flex;
    justify-content: space-between;
}
.site-wrap{
    background-color: inherit;
}
.page-container > div{
    box-shadow: inherit;
    background-color: inherit;
    padding: 30px;
}
.footer{
    margin: 20px;
}
@media screen and (min-width: 800px){
    .sidebar{
        flex-grow: 1;
    }
    .main-content{
        flex-grow: 3;
    }
}
.footer{
    display: flex;
}
.content-center {
    text-align: center;
    justify-content: center;
}



@media only screen and (min-width : 600px) and (max-width : 1024px) {
    /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) and (max-width: 1400px) {
    /* Styles */
}

/* Large screens ----------- */
@media screen  and (min-width : 1400px) {
    body{
        width: 1400px;
        margin: 0 auto;
    }
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(33,33,33,255);
    color: white;
}
@media screen and (min-width: 1400px) {
    body{
        font-size: 18pt;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1400px) {
    body{
        font-size: 16pt;
    }
}
@media screen and (max-width: 1024px){
    body{
        font-size: 12pt;
    }
}




