
#list-of-goods-container {

}

.list-item {
    max-width: 350px;
    box-shadow: 0 0 2px #777777;
    overflow: auto;
}

[data-is-crossed] {
    text-decoration: line-through;
    opacity: 0.5;
}

.mouse-entered{
    box-shadow: 0 0 5px #777777;
}

a:hover{
    cursor: pointer;
}

.inline{
    display:inline;
}
.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}




