


.crossed {
    text-decoration: line-through;
    opacity: 0.5;
}

.row {
    max-width: 350px;
    box-shadow: 0 0 2px #777777;
}
.mouse-entered{
    box-shadow: 0 0 5px #777777;
}

.invisible{
    opacity: 0;
}
a:hover{
    cursor: pointer;
}

.inline{
    display:inline;
}
.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



